@charset "utf-8";
/* CSS Document */

body{ margin:0px 0px; }

#hero{
  background: url("../img/layout-hometeste2.jpg") no-repeat center bottom fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position:fixed;
    z-index: 1;
}

.rodape-home {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 280px;
}

.caption {
    position: absolute;
    top: 18%;
    width: 100%;
    z-index: 2;
}

.caption h1 {
    color: #FFF;
    text-align: center;
    font-size: 45px;
    margin: 0;
}

.bg-roxo {
    background: #481a7f;
    position: absolute;
    min-height: 280px;
    width: 100%;
    opacity: 0.8;
}